@import "~bootstrap/dist/css/bootstrap.css";
img {
  height: 75%;
  width: 100%;
  box-shadow: 14px -14px 0 rgba(252, 249, 249, 0.973), 16px -16px 2px black,
    20px -20px 0 rgba(199, 186, 193, 0.6);

  border-radius: 0.6rem;
}
